<!DOCTYPE html>
<html>

<head>
  <title>Bugs List</title>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
  <link rel="stylesheet" href="css/bugs list.css">
</head>

<body>
  <div class="wrapper">

    <div class="top">
      <input type="text" name="search" id="myInput" onkeyup="myFunction()" placeholder="Search..">

      <div class="dropdown">
        <button class="dropbtn">Welcome Admin</button>
        <div class="dropdown-content">
          <a href="/">LogOut</a>
        </div>
      </div>
      <img src="images/logo.png" alt="logo">
    </div>


    <nav class="menu">
      <a href="/bugslist">Bugs</a>
      <a href="/userlist">Manage Users</a>
      <a href="#">Statistics</a>
    </nav>

    <div class="bottom">
      <div id="rightbox">
        <div style="float: left;margin-right:50px; overflow-x:auto;">
          <table id="bugs_list">
            <thead>
              <tr>

                <th>Bug Id</th>
                <th>Project Id</th>
                <th onclick=sortTable(3)>Category</th>
                <th onclick=sortTable(4)>Severity</th>
                <th onclick=sortTable(5)>Opened Date</th>
                <th onclick=sortTable(6)>Due Date</th>
                <th>Status</th>
              </tr>
            </thead>

            <tbody>
            <% bugs.forEach(function(details){ %>

              <tr>
                
                <td><%=details.bug_id %></td>
                <td><%=details.project_id %></td>
                <td><%=details.category %></td>
                <td><%=details.severity %></td>
                <td> 2020-10-06</td>
                <td><%=details.due_date %></td>
                <td>
                  <select class = "bug_status" name = "bug_status">
                    <option value ='y'> Unassigned </option>
                    <option value ='y'> Fixed </option>
                    <option value ='n'> Not Fixed </option>
                  </select>
                </td>
              </tr>

          <%  }) %>
            </tbody>

            <tfoot>

            </tfoot>


          </table>
        </div>

        <div style="float: left; overflow-x:auto;">
          <table id="nt">
            <thead>
              <tr>
                <th onclick=sortTable(0)>Name</th>
                <th onclick=sortTable(1)>No of Current Projects</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>G.V.S.Sri Ram</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Ashok</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Rusheendra</td>
                <td>3</td>
              </tr>
            </tbody>

            <tfoot>

            </tfoot>


          </table>
        </div>
      </div>
    </div>

  </div>
  <script src="js/user list.js" charset="utf-8"></script>
</body>
